{% extends 'base.html' %}
{% block title %} 
  {% if is_edit %} 
    Редактирование поста
  {% else %}    
    Создание нового поста
  {% endif %}
{% endblock %}
{% block header %}
  {% if is_edit %} 
    Редактирование поста
  {% else %}    
    Создание нового поста
  {% endif %}
{% endblock %}


{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% if is_edit %}        
          Редактировать пост  
          {% else %} 
          Новый пост
          {% endif %}          
        </div>
        <div class="card-body">        
          <form method="post" class="post-form">
            {% csrf_token %}
            <div class="form-group row my-3 p-3">
              <label for="id_text">
                Текст поста                  
                <span class="required text-danger" >*</span>
              </label>
              {{ form.text }}
              <span> {{ error }} </span>
              <small id="id_text-help" class="form-text text-muted">
                {% if is_edit %}
                Редактируемый текст
                {% else %} 
                Текст нового поста
                {% endif %}
              </small>
            </div>
            <div class="form-group row my-3 p-3">
              <label for="id_group">
                Group         
              </label>
              {{ form.group }}
              <small id="id_group-help" class="form-text text-muted">
                Группа, к которой будет относиться пост
              </small>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
              {% if is_edit %}
                Сохранить
              {% else %}
                Добавить
              {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}